<footer class="footer">
  <div class="container footer__container">
    <div class="footer__main">
      <div class="logo">
        <img src="assets/img/logo.png" alt="logo">
      </div>
      <div class="footer__text text1">
        Все права защищены, 2020
      </div>
    </div>
    <div class="footer__link">
      <div class="footer__inst">
        <a class="inst__link" href="{{instagramLink}}"><img src="assets/img/instagram.png" alt="instagram"></a>
      </div>
      <div class="footer__inst-text">
        Мы в Instagram
      </div>
    </div>
    <div class="footer__phone">
      {{numberPhone}}
    </div>
    <div class="footer__text text2">
      Все права защищены, 2020
    </div>
  </div>
</footer>
