<div class="present" [class.invisibility]="showPresent">
  <div class="present__button">
    <img src="assets/img/present.png" alt="present">
  </div>
  <div class="block">
    <div class="present__text">
      Оформите заказ
      и получите подарок!
    </div>
  </div>
</div>
<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <h1 class="main__title">
        Мягкие французские
        пироженки Macaroons
      </h1>
      <div class="main__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main__action">
        <button class="btn main__btn" (click)="scrollTo(product)">Выбрать макарун</button>
      </div>
    </div>
    <div class="main__img">
      <img class="main__img-img" src="assets/img/cupcakes.png" alt="Cupcakes">
    </div>
  </div>
</section>
<section class="advantages">
  <div class="container">
    <div class="advantages__main">
      <div class="advantages__info">
        <h2 class="advantages__title">
          Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет
        </h2>
        <p class="advantages__text">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина,
          разрыхлителей и улучшителей муки.
        </p>
      </div>
      <div class="advantages__img">
        <img class="advantages__img-img" src="assets/img/maca.png" alt="Cupcakes">
      </div>
    </div>
    <div class="advantages__list">
      <div class="advantage" *ngFor="let advantage of advantages ,let i = index">
        <div class="advantage__number">
          <div class="advantage__number-item">{{i + 1}}</div>
        </div>
        <div class="advantage__title">
          {{advantage.title}}
        </div>
        <div class="advantage__text">
          {{advantage.text}}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="products" #product>
  <div class="container products__container">
    <h2 class="products__title">Выберите свой макарун</h2>
    <div class="products__list">


      <div class="product" *ngFor="let product of products">
        <div class="product__img">
          <img class="product__img-img" src="assets/img/{{product.image}}" alt="maca">
        </div>
        <h3 class="product__title">{{product.title}}</h3>
        <div class="product__active">
          <div class="product__price">
            <p>{{product.amount}} шт.</p>
            <p>{{product.price}} руб.</p>
          </div>
          <div class="product__btn">
            <button class="btn product__btn-btn" (click)="choseProductInOrder(product.title, order)">Заказать</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<section class="order" #order>
  <div class="container order__container">
    <img class="order-berry1" src="assets/img/berry1.png" alt="berry">
    <img class="order-berry2" src="assets/img/berry2.png" alt="berry">
    <div class="order__img">
      <img class="order__img-img" src="assets/img/macarons.png" alt="macarons">
    </div>
    <div class="order__main">
      <h2 class="order__title">
        Закажите макарун!
      </h2>
      <p class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
      <div class="order__form">
        <label class="order__label order__label-margin">
          Ваш выбор
          <input class="order__form-input" type="text" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productName">
        </label>
        <label class="order__label">
          Заполните данные для заказа
          <input class="order__form-input" type="text" placeholder="Ваше имя" [(ngModel)]="formValues.nameUser">
          <input class=" order__form-input order__form-input-margin" type="tel" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
          <button class="btn order__btn">Оформить заказ</button>
        </label>
      </div>
    </div>
  </div>
</section>
