.invisibility {
  display: none;
}
.main {
  background-color: #eba8b1;
  padding: 126px 0 108px 0;
  overflow: hidden;
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.main__info {
  max-width: 580px;
  z-index: 3;
}
.main__img{
  position: relative;

}
.main__img-img{
  position: relative;
  z-index: 2;
}
.main__img::before{
  content: '';
  position: absolute;
  top: 127px;
  left: 180px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: pulse 3s infinite;
  animation-delay: 0.5s;
  border: 1px solid rgba(130, 19, 40, 1);
  z-index: 1;
}
.main__img::after{
  content: '';
  position: absolute;
  top: 127px;
  left: 180px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;
  animation: pulse2 3s infinite;
  border: 1px solid rgba(130, 19, 40, 1);
}
@keyframes pulse {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(3.5);
    opacity: 0;
  }
}
@keyframes pulse2 {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(3.5);
    opacity: 0;
  }
}

.main__title {
  font-size: 55px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.1;
  margin-bottom: 60px;
}

.main__text {
  font-size: 18px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.3;
  max-width: 345px;
  margin-bottom: 80px;
}

.btn {
  font-size: 18px;
  color: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  border: none;
  border-radius: 60px;
  font-family: Gilroy-Bold, sans-serif;
  cursor: pointer;
}
.main__btn{
  width: 240px;
  padding: 21px;
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.advantages {
  padding: 119px 0 120px 0;
  background-color: #ffefef;
  z-index: 2;
  position: relative;
}

.advantages__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages__title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.2;
  margin: 0 auto 60px;

  max-width: 475px;
}

.advantages__text {
  font-size: 18px;
  font-family: Gilroy-Regular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.5;
  max-width: 397px;
  margin-bottom: 83px;
}

.advantages__img-img {
  width: 100%;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 86px;
}

.advantage {
  width: 219px;
}

.advantage__number {
  position: relative;
  border-radius: 50%;
  background-color: #821328;
  width: 70px;
  height: 70px;
  font-size: 60px;
  font-family: GilroyExtraBold, sans-serif;
  color: #FFFFFF;
  line-height: 0.75;
  margin-bottom: 13px;
  transition: .5s ease;
}

.advantage:hover .advantage__number{
  background-color: rgb(235, 168, 177);
  color: rgb(130, 19, 40);
}

.advantage__number-item {
  position: absolute;
  bottom: -3px;
  left: 20px;
}

.advantage__title {
  font-size: 20px;
  font-family: GilroyExtraBold, sans-serif;
  color: rgb(51, 25, 7);
}

.advantage__text {
  font-size: 15px;
  font-family: Gilroy-Medium, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.3;
}

.products {
  padding: 123px 0 120px 0;
  background-color: #eba8b1;
}

.products__title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 140px;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  justify-content: center;
}

.product {
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  max-width: 259px;
  text-align: center;
  position: relative;
  padding: 109px 21px 27px 21px;

}
.product:hover .product__img-img{
  transform: scale(1.2);

}
.product__img-img {
  position: absolute;
  top: -61px;
  left: calc(50% - 94px);
  transition: .5s ease;
}

.product__title {
  font-size: 18px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);

  margin-bottom: 26px;

}
.product__active{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__price{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 60px;
  font-size: 15px;
  font-family: Gilroy-Regular, sans-serif;
  color: rgb(255, 255, 255);
}
.product__btn-btn{
  width: 130px;
  padding: 19px;
}
.order{
  padding: 98px 0 120px 0;
  background-color: #ffefef;
}
.order__container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.order__img{
  margin-top: 60px;
}
.order__main{
  max-width: 410px;
  z-index: 2;
}
.order__title{
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.2;
  margin-bottom: 41px;
}
.order__text{
  font-size: 18px;
  font-family: Gilroy-Regular,sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.5;
  max-width: 400px;
  margin-bottom: 48px;
}
.order__label{
  display: block;
  font-size: 18px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(18, 10, 6);
}
.order__form-input{
  display: block;
  background-color: transparent;
  border: 2px solid rgb(130, 19, 40);
  width: 293px;
  padding: 21px;
  border-radius: 60px;
  font-size: 15px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(118, 12, 34);
  box-sizing: border-box;
  margin-top: 21px;
  outline: none;

}
.order__form-input::placeholder{
  font-size: 15px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(118, 12, 34);

}
.order__label-margin{
  margin-bottom: 40px;
}
.order__form-input-margin{
  margin-top: 15px;
}
.order__btn{
  margin-top: 15px;
  width: 293px;
  padding: 21px;
}
.order-berry1{
  position: absolute;
  top: 45px;
  left: 0;
  animation: berry1 linear 2s infinite;
}
@keyframes berry1 {
  0%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(10px);
  }
}
.order-berry2{
  position: absolute;
  bottom: 75px;
  right: 91px;
  animation: berry2 linear  1.7s 0.5s infinite;
}
@keyframes berry2 {
  0%{
    transform: translateY(20px)
  }
  50%{
    transform: translateY(-20px)
  }
  100%{
    transform: translateY(20px)
  }
}


.present{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 3;
  cursor: pointer;
}
.present__button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
  width: 90px;
  height: 90px;
  background: radial-gradient(rgb(113,8,30) 0%, rgb(215,72,92) 100%);
}
.block {
  background: #feefee;
  width: 168px;
  position: fixed;
  bottom: 35px;
  right: 130px;
  opacity: 0;
  transform: translate( 0 , 50%);
  transition: all .3s;
  border-width: 2px;
  border-color: rgb(119, 10, 29);
  border-style: solid;
  border-radius: 10px;
  padding: 16px 10px 14px 10px;
  box-sizing: border-box;

}
.block::before, .block::after {
  content: '';
  position: absolute;
  right: -26px;
  top: 25px;
  border: 10px solid transparent;
  border-left: 19px solid #feefee;
  z-index: 3;
}
.block::after {
  border-left: 19px solid rgb(119, 10, 29);
  right: -31px;
  top: 25px;
  z-index: 1;
}
.present__text{
  font-size: 15px;
  font-family: Gilroy-Medium, sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.3;
}
.present:hover .block{
  opacity: 1;
  transform: translate(0, 0);
}
@media  screen and (max-width: 1240px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 50px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  .advantage{
    text-align: center;
    justify-self: center;
  }
  .advantage__number{
    display: inline-block;
    align-items: center;
  }
  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 136px;
    justify-content: center;
    max-width: 580px;
    margin: 0 auto;
  }
  .products{
    align-self: center;
    justify-self: center;
  }
}
@media screen and (max-width: 900px){
  .order-berry2{
    right: 0;
  }
}
@media screen and (max-width: 880px){
  .main__info{
    padding-bottom: 400px;
  }
  .main__container{
    position: relative;
  }
  .main__img{
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}
@media  screen and (max-width: 768px) {
  .advantages__list {
    max-width: 100%;
  }
  .main__container{
    position: relative;
  }
  .advantages__main{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .advantage__title{
    display: block;
  }
  .advantages__text{
    max-width: 675px;
  }
  .advantages__img-img {
    width: 302px;
    margin-bottom: 88px;
  }
  .order__container{
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
  }
  .order-berry1{
    left: 381px;
    top: 250px;
  }
  .order__img{
    position: absolute;
    right: 0;
    bottom: -100px;
  }
  .order__img-img{
    width: 351px;
  }
  .order-berry2{
    right: 93px;
    top: 167px;
  }

}
@media screen and (max-width: 662px){
  .order__img{
    display: none;
  }
}
@media screen and (max-width: 620px){
  .main__container{
    flex-wrap: wrap;
  }
  .main__info{
    padding-bottom: 0;
    margin-bottom: 80px;
  }
  .main__img{
    position: relative;
  }
  .main__img::before{
    width: 150px;
    height: 150px;
    bottom: 35%;
    left: 35%;
  }
  .main__img::after{
    width: 150px;
    height: 150px;
    left: 35%;
    bottom: 35%;
  }
}
@media screen and (max-width: 545px){

  .main__img{
    width: 100%;
  }

  .main__info{
    text-align: center;

  }
  .main__title {
    font-size: 32px;
  }
  .main__text{
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  .main__img{
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
  }
  .main__img-img{
    max-width: 100%;
  }

  .advantages__list{
    grid-column-gap: 15px;
    grid-row-gap: 65px;
  }
  .advantages__title{
    font-size: 30px;
  }
  .advantages__text{
    font-size: 16px;
  }
  .advantage{
    height: 206px;
    width: 159px;
  }
  .advantage__title{
    font-size: 18px;
  }
  .advantage__text{
    font-size: 13px;
  }
  .products__title{
    font-size: 30px;
  }
  .products__list{
    grid-template-columns: 1fr;
  }
  .product{
    justify-self: center;
    width: 240px;
  }
  .product__img-img{
    left: calc(50% - 94px);
  }
  .order-berry2{
    display: none;
  }
  .order__title{
    font-size: 30px;
  }
  .order__text{
    font-size: 16px;
  }
}
@media screen and (max-width: 470px){
  .order-berry1{
    top: 124px;
    left: 292px;
  }
}
@media screen and (max-width: 425px){
  .main-info{
    margin-bottom: 45px;
  }
  .main__img::before{
    width: 150px;
    height: 150px;
    top: 20%;
    left: 35%;
  }
  .main__img::after{
    width: 150px;
    height: 150px;
    left: 35%;
    top: 20%;
  }
}
@media screen and (max-width: 375px){
  .order__form-input{
    width: 100%;
  }
  .order__btn{
    width: 100%;
  }
  .order-berry1{
    left: auto;
    right: 15px;
    overflow: hidden;
  }
}
@media screen and (max-width: 360px){
  .advantages__list{
    grid-template-columns: 1fr;
  }
}
